{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'photomanager/css/drag_drop.css' %}">

<form>
  <input class='js-image-upload' type='file' accept="image/*" multiple>
</form>


<span id="garbage" class="garbage">
</span>

<div id="container" style="height:{{height}};width:{{width}};" </div>
<div class='preview js-preview'>
<div contenteditable="true" draggable="true" class="font_size">
  This text can be edited by the user.
</div>
</div>
<script type="text/javascript" src="{% static 'photomanager/js/drag_drop.js' %}"></script>

